@import 'tailwindcss' source('../cmd/server/templates');
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@plugin 'daisyui' {
  themes: corporate;
}

@layer base {
  body {
    font-family: "Space Grotesk", "Helvetica Neue", Arial, sans-serif;
  }
}

.glass-panel {
  backdrop-filter: blur(16px);
  background: rgba(255, 255, 255, 0.7);
}
